@tailwind base;
@tailwind components;
@tailwind utilities;

.primary_btn {
  @apply bg-[#f58220] text-white py-4 px-5 rounded-full hover:bg-orange-700 duration-700;
}

.input-style {
  @apply block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#f58220];
}
.label-style {
  @apply peer-focus:font-medium absolute text-sm text-white  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#f58220]  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

.social_button {
  @apply inline-flex py-3 px-5  bg-gray-950 hover:bg-slate-800 space-x-2 cursor-pointer duration-500 rounded-lg;
}

.errorPageBtn {
  @apply rounded-xl duration-500 border py-2 text-xl border-orange-500;
}

.tab_container {
  @apply inline-flex items-center  w-40 h-20 rounded-full;
}

.tab_image {
  @apply p-2 mx-3 rounded-full;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #020617;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f58220;
    border-radius: 100vh;
  }
}

.hover_effcet {
  @apply cursor-pointer hover:text-[#f58220] duration-700;
}
